$near-white: #f2f2f2;
$near-black: #303133;

$black: #000;

$blue: #20a0ff;

$lite-blue: #58b7ff;
$light-blue: #409eff;
$dark-blue: #1d8ce0;
$green: #13ce66;
$light-green: #67c23a;
$yellow: #f7ba2a;
$dark-yellow: #e6a23c;
$red: #ff4949;
$light-red: #f56c6c;
$pink: #e91e63;
$gray: #909399;

$primary-text: #303133;
$regular-text: #606266;
$secondary-text: #909399;
$placeholder-text: #c0c4cc;

$base-border: #dcdfe6;
$light-border: #e4e7ed;
$lighter-border: #ebeef5;
$lite-border: #f2f6fc;

$border-gradient-start: #00c853;
$border-gradient-end:#b2ff59;

.lite-blue {
  color: $lite-blue;
}

.yellow {
  color: $yellow;
}

.light-red {
  color: $light-red;
}

.green {
  color: $green;
}
