.title {
  position: relative;
  font-size: 3.2rem;
  font-family: 'Baloo Chettan', 'Open Sans', sans-serif;
  margin-bottom: 4rem;

  &::before {
    content: '';
    position: absolute;
    width: 7rem;
    height: 0.5rem;
    left: 0;
    bottom: -2rem;
    background-color: $light-green;
  }
}

.content {
  font-size: 1.8rem;
  line-height: 3rem;

  @include respond-below(sm) {
    font-size: 1.6rem;
  }
}
