@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

$font-family-map: (
  sans: 'Open Sans',
  cursive: 'Baloo Chettan',
);

$font-fallback-map: (
  sans: 'Helvetica, Arial, sans-serif',
  cursive: 'cursive',
);

$font-weight-map: (
  thin: 200,
  regular: 400,
  bold: 700,
);

@mixin set-font($family, $size, $weight, $color) {
  $font: map-get($font-family-map, $family);
  $fallback: map-get($font-fallback-map, $family);
  $font-weight: map-get($font-weight-map, $weight);

  font-family: #{$font}, #{$fallback};
  font-size: $size;
  font-weight: $font-weight;
  color: $color;
}
