*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px; /* 1rem = 10px */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: $primary-text;
  background-color: $near-white;
}

body {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: $near-white;
}
