<div class='hero'>
  <div class='hero-container'>
    <div class='hero__section hero__section--info'>
      <div class='hero__content-wrapper'>
        <div class='hero__title'>
          Terry (Yen-Hsuan) Chen
        </div>
        <div class='hero__icon-text'>
          <i class="material-icons">code</i>
          <div>Software Engineer, Frontend | Fullstack</div>
        </div>
        <div class='hero__icon-text'>
          <i class="material-icons">location_on</i>
          <div>San Francisco, CA</div>
        </div>

        <div class=hero__typing-wrapper>
          <div class='hero__typing-content'></div>
        </div>

        <div class='hero__main-button'>
          MORE
          <i class="material-icons">
            expand_more
          </i>
        </div>
      </div>
    </div>

    <div class='hero__section hero__section--portrait'>
      <div class='hero__profile'>
        <div class='hero__profile-img-wrapper'>
          <img class='hero__profile-img' src='../../assets/profile.png'>
        </div>
        <div class='hero__icons'>
          <div class="icon-link">
            <i class="fab fa-codepen"></i>
          </div>
            
          <div class="icon-link">
            <i class="fab fa-github"></i>
          </div>
            
          <div class="icon-link">
            <i class="fab fa-linkedin"></i>
          </div>
          
          <div class="icon-link">
            <i class="fab fa-facebook-f"></i>
          </div>
          
          <div class="icon-link">
            <i class="fas fa-globe"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>