<div id='hero' class='hero scroll-spy'>
  <div class='hero-container'>
    <div class='hero__profile'>
      <div class='hero__profile-img-wrapper'>
        <img class='hero__profile-img' src='../../assets/profile.png'>
      </div>
      <div class='hero__profile-content'>
        <div class='hero__typing-wrapper'>
          <div class='hero__typing-content'></div>
        </div>
        <div class='hero__headline'>
          Terry Chen
        </div>
        <div class='hero__text'>
          Software Engineer
        </div>
      </div>
      <div class='hero__icons'>   
        <a href='https://codepen.io/terry-chen/' target='_blank' class="icon-link">
          <i class="fab fa-codepen"></i>
        </a>         
        <a href='https://github.com/yenhsuan' target='_blank' class="icon-link">
          <i class="fab fa-github"></i>
        </a>
        <a href='https://www.linkedin.com/in/yenhsuan' target='_blank' class="icon-link">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>

      <a class='arrow scrolling-link fa fa-arrow-down fa-3x' href="#about"></a>
    </div>
  </div>
</div>
