<div id='hero' class='hero scroll-spy'>
  <div class='hero-container'>
    <div class='hero__section hero__section--info'>
      <div class='hero__content-wrapper'>
        <div class='hero__title'>
          Terry (Yen-Hsuan) Chen
        </div>
        <div class='hero__icon-text'>
          <i class="material-icons">code</i>
          <div>Software Engineer, Frontend | Fullstack</div>
        </div>
        <div class='hero__icon-text'>
          <i class="material-icons">location_on</i>
          <div>San Francisco, CA</div>
        </div>

        <div class=hero__typing-wrapper>
          <div class='hero__typing-content'></div>
        </div>

        <a href='#about'>
          <div class='hero__main-button'>
            MORE
          </div>
        </a>
      </div>
    </div>

    <div class='hero__section hero__section--portrait'>
      <div class='hero__profile'>
        <div class='hero__profile-img-wrapper'>
          <img class='hero__profile-img' src='../../assets/profile.png'>
        </div>
        <div class='hero__icons'>   
          <a href='https://codepen.io/terry-chen/' target='_blank' class="icon-link">
            <i class="fab fa-codepen"></i>
          </a>         
          <a href='https://github.com/yenhsuan' target='_blank' class="icon-link">
            <i class="fab fa-github"></i>
          </a>
          <a href='https://www.linkedin.com/yenhsuan' target='_blank' class="icon-link">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>