<div id='projects' class='project scroll-spy'>
  <div class='container project-container'>
    <div class='row'>
      <div class='title'>
        Projects
      </div>
    </div>
    <div class='row project__row'>
      <div class='col project__col'>
        <div class='project-card'>
          <div class='project-card__cover project-card__cover--9'></div>
          <div class='project-card__content'>
            <div class='project-card__title'>This Website :)</div>
            <div class='project-card__tags-wrapper'>
              <div class='project-card__tag'>HTML5</div>
              <div class='project-card__tag'>JavaScript</div>
              <div class='project-card__tag'>SASS</div>
              <div class='project-card__tag'>PostCSS</div>
              <div class='project-card__tag'>Babel</div>
              <div class='project-card__tag'>Webpack</div>
              <div class='project-card__tag'>Travis</div>
              <div class='project-card__tag'>ESLint</div>
              <div class='project-card__tag'>StyleLint</div>
              <div class='project-card__tag project-card__tag--new'>New</div>
            </div>
          </div>
          <a target='_blank' href='https://github.com/yenhsuan/MyWebsite'>
            <div class='project-card__btn project-card__btn--black'>Github</div>
          </a>
        </div>
      </div>

      <div class='col project__col'>
        <div class='project-card'>
          <div class='project-card__cover project-card__cover--8'></div>
          <div class='project-card__content'>
            <div class='project-card__title'>JavaScript DS</div>
            <div class='project-card__tags-wrapper'>
              <div class='project-card__tag'>JavaScript ES6</div>
              <div class='project-card__tag'>Mocha</div>
              <div class='project-card__tag'>Webpack</div>
              <div class='project-card__tag'>Node.js ENV</div>
              <div class='project-card__tag'>Module Design</div>
              <div class='project-card__tag project-card__tag--ongoing'>On Going...</div>
            </div>
          </div>
          <a target='_blank' href='https://github.com/yenhsuan/js-data-structure'>
            <div class='project-card__btn project-card__btn--black'>Github</div>
          </a>
        </div>
      </div>

      <div class='col project__col'>
        <div class='project-card'>
          <div class='project-card__cover project-card__cover--1'></div>
          <div class='project-card__content'>
            <div class='project-card__title'>CodePad</div>
            <div class='project-card__tags-wrapper'>
              <div class='project-card__tag'>React.js</div>
              <div class='project-card__tag'>MobX</div>
              <div class='project-card__tag'>JSS</div>
              <div class='project-card__tag'>WebSocket</div>
              <div class='project-card__tag'>Node.js</div>
              <div class='project-card__tag'>Express.js</div>
              <div class='project-card__tag'>Webpack</div>
              <div class='project-card__tag'>Redis</div>
              <div class='project-card__tag'>JWT</div>
              <div class='project-card__tag'>Flask</div>
              <div class='project-card__tag'>Docker</div>
            </div>
          </div>
          <a target='_blank' href='http://codepad.yenhsuan.xyz'>
            <div class='project-card__btn'>Demo</div>
          </a>
        </div>
      </div>
      
      <div class='col project__col'>
        <div class='project-card'>
          <div class='project-card__cover project-card__cover--2'></div>
          <div class='project-card__content'>
            <div class='project-card__title'>Collaborative Docs</div>
            <div class='project-card__tags-wrapper'>
              <div class='project-card__tag'>Angular</div>
              <div class='project-card__tag'>Node.js</div>
              <div class='project-card__tag'>Express.js</div>
              <div class='project-card__tag'>JWT</div>
              <div class='project-card__tag'>Socket.io</div>
              <div class='project-card__tag'>MongoDB</div>
              <div class='project-card__tag'>Bootstrap</div>
            </div>
          </div>
          <a target='_blank' href='http://yenhsuan.xyz:5566'>
            <div class='project-card__btn'>Demo</div>
          </a>
        </div>
      </div>
      
      <div class='col project__col'>
        <div class='project-card'>
          <div class='project-card__cover project-card__cover--3'></div>
          <div class='project-card__content'>
            <div class='project-card__title'>Tweets Search</div>
            <div class='project-card__tags-wrapper'>
              <div class='project-card__tag'>React.js</div>
              <div class='project-card__tag'>Node.js</div>
              <div class='project-card__tag'>Webpack</div>
              <div class='project-card__tag'>Sass</div>
              <div class='project-card__tag'>RESTful API</div>
            </div>
          </div>
          <a target='_blank' href='http://tweet.yenhsuan.xyz'>
            <div class='project-card__btn'>Demo</div>
          </a>
        </div>
      </div>
      
      <div class='col project__col'>
        <div class='project-card'>
          <div class='project-card__cover project-card__cover--5'></div>
          <div class='project-card__content'>
            <div class='project-card__title'>Youtube Repeater</div>
            <div class='project-card__tags-wrapper'>
              <div class='project-card__tag'>JavaScript ES6</div>
              <div class='project-card__tag'>CSS</div>
              <div class='project-card__tag'>HTML5</div>
              <div class='project-card__tag'>Chrome Extension</div>
            </div>
          </div>
          <a target='_blank' href='https://chrome.google.com/webstore/detail/youtube-repeat-button/aihdpnkmhcbjkfonmmfepcjjfaenobip'>
            <div class='project-card__btn project-card__btn--green'>App Store</div>
          </a>
        </div>
      </div>

      <div class='col project__col'>
        <div class='project-card'>
          <div class='project-card__cover project-card__cover--6'></div>
          <div class='project-card__content'>
            <div class='project-card__title'>Chrome Start Page</div>
            <div class='project-card__tags-wrapper'>
              <div class='project-card__tag'>Angular</div>
              <div class='project-card__tag'>Semantic UI</div>
              <div class='project-card__tag'>Chrome API</div>
              <div class='project-card__tag'>Chrome Extension</div>
            </div>
          </div>
          <a target='_blank' href='https://chrome.google.com/webstore/detail/chrome-start-page/cacnefkpccebkfppmhjohfabiejkdpjk'>
            <div class='project-card__btn project-card__btn--green'>App Store</div>
          </a>
        </div>
      </div>

      <div class='col project__col'>
        <div class='project-card'>
          <div class='project-card__cover project-card__cover--4'></div>
          <div class='project-card__content'>
            <div class='project-card__title'>SNAKE!</div>
            <div class='project-card__tags-wrapper'>
              <div class='project-card__tag'>Canvas</div>
              <div class='project-card__tag'>JavaScript</div>
              <div class='project-card__tag'>From Scrach</div>
            </div>
          </div>
          <a target='_blank' href='/snake/snake.html'>
            <div class='project-card__btn'>Demo</div>
          </a>
        </div>
      </div>

      <div class='col project__col'>
        <div class='project-card'>
          <div class='project-card__cover project-card__cover--7'></div>
          <div class='project-card__content'>
            <div class='project-card__title'>Students CRUD</div>
            <div class='project-card__tags-wrapper'>
              <div class='project-card__tag'>Angular</div>
              <div class='project-card__tag'>Node.js</div>
              <div class='project-card__tag'>PostgreSQL</div>
              <div class='project-card__tag'>Express.js</div>
            </div>
          </div>
          <a target='_blank' href='http://yenhsuan.xyz:3030'>
            <div class='project-card__btn'>Demo</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>