.about {
  background-color: $near-white;

  .about-container {
    padding-top: 5rem;
  }

  &__experience-col {
    padding-bottom: 10rem;
  }

  &__timeline {
    padding-top: 2rem;
    padding-right: 3rem;
  }
}

.about__card-group {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.about__card-wrapper {
  flex: 0 0 25%;
  padding: 0.8rem;

  @include respond-below(md) {
    flex-basis: 30%;
  }

  @include respond-below(sm) {
    flex-basis: 50%;
    padding: 0.4rem;
  }
}

.about__card {
  display: flex;
  height: 15rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgba($black, 0.05);
  transition: all linear 0.2s;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }

  @include respond-below(xs) {
    padding: 1rem;
  }
}

.about__card-icon {
  margin: 0 auto;
  width: 6rem;
  height: 6rem;

  & > img {
    width: 100%;
  }
}

.about__card-text {
  @include set-font(ant, 1.2rem, regular, $regular-text);
}

.timeline-card {
  position: relative;
  margin-left: 4rem;
  margin-bottom: 4rem;
  max-width: 35rem;
  color: $light-blue;
  border: 0.1rem solid $light-blue;
  border-radius: 0.5rem;

  &::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    left: -3.6rem;
    width: 1rem;
    height: 1rem;
    background-color: $dark-blue;
    border-radius: 100%;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    left: -3.3rem;
    top: 0.2rem;
    height: 150%;
    min-height: 10rem;
    width: 0.4rem;
    background-color: $light-border;
  }

  &__title {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__content {
    padding: 0 2rem 1.5rem 2rem;
    color: $light-blue;
    font-size: 1.2rem;
  }

  &__time {
    padding: 0.5rem 1rem;
    text-align: right;
    background-color: $light-blue;
    color: $near-white;
    font-size: 1.2rem;
  }

  &--light-blue {
    color: $lite-blue;
    border-color: $lite-blue;

    .timeline-card__title {
      color: darken($lite-blue, 5%);
    }

    .timeline-card__time {
      background-color: $lite-blue;
    }
  }

  &--light-red {
    border-color: $light-red;

    &::before {
      background-color: $light-red;
    }

    .timeline-card__title {
      color: darken($light-red, 5%);
    }

    .timeline-card__content {
      color: $light-red;
    }

    .timeline-card__time {
      background-color: $light-red;
    }
  }

  &--green {
    border-color: $green;

    &::before {
      background-color: $green;
    }

    .timeline-card__title {
      color: darken($green, 5%);
    }

    .timeline-card__content {
      color: $green;
    }

    .timeline-card__time {
      background-color: $green;
    }
  }
}

.skills__title {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-family: 'Baloo Chettan', 'Open Sans', sans-serif;
}

.skills__content {
  display: flex;
  flex-wrap: wrap;
}

.skills__tile {
  padding: 0.5rem 1rem;
  background-color: $base-border;
  margin: 0.2rem;
  cursor: pointer;
  transition: all linear 0.25s;

  &:hover {
    background-color: $placeholder-text;
  }
}
